@tailwind base;

@layer base {
    button {
        @apply !flex items-center justify-center
    }
}

@tailwind components;
@tailwind utilities;

.ant-avatar img {
    object-fit: contain;
}

.ant-popconfirm-buttons {
    display: flex;
    justify-content: end;
}